<!-- <ngx-spinner type="ball-scale-multiple"></ngx-spinner> -->

<app-loader *ngIf="showLoader"></app-loader>

<div *ngIf="!showLoader">
<app-header></app-header>

<!-- Home Section -->
<section id="home" [class.active]="activeSection === 'home'">
   <app-home></app-home>
</section>

<!-- About Section -->
<section id="about" [class.active]="activeSection === 'about'">
  <app-about></app-about>
</section>

<!-- Skills Section -->
<section id="skills" [class.active]="activeSection === 'skills'">
  <app-skills></app-skills>
</section>

<!-- Projects Section -->
<section id="projects"[class.active]="activeSection === 'projects'">
  <app-projects></app-projects>
</section>

<!-- Contact Section -->
<section id="contact" [class.active]="activeSection === 'contact'">
  <app-contact></app-contact>
</section>
<app-footer></app-footer>
</div>

